$text-xs: 12px !default;
$text-xs-line-height: 16px !default;
$text-sm: 14px !default;
$text-sm-line-height: 20px !default;
$text-lg: 16px !default;
$text-lg-line-height: 24px !default;
$text-xl: 18px !default;
$text-xl-line-height: 28px !default;
$text-2xl: 20px !default;
$text-2xl-line-height: 28px !default;
$text-3xl: 24px !default;
$text-3xl-line-height: 32px !default;
$text-4xl: 30px !default;
$text-4xl-line-height: 36px !default;
$text-5xl: 36px !default;
$text-5xl-line-height: 40px !default;
$text-6xl: 48px !default;
$text-6xl-line-height: 64px !default;
$text-7xl: 60px !default;
$text-7xl-line-height: 80px !default;
$text-8xl: 72px !default;
$text-8xl-line-height: 96px !default;
$text-9xl: 96px !default;
$text-9xl-line-height: 128px !default;
$text-10xl: 128px !default;
$text-10xl-line-height: 160px !default;
