$text-size-xs: 12px !default;
$text-size-xs-line-height: 16px !default;
$text-size-sm: 14px !default;
$text-size-sm-line-height: 20px !default;
$text-size-lg: 16px !default;
$text-size-lg-line-height: 24px !default;
$text-size-xl: 18px !default;
$text-size-xl-line-height: 28px !default;
$text-size-2xl: 20px !default;
$text-size-2xl-line-height: 28px !default;
$text-size-3xl: 24px !default;
$text-size-3xl-line-height: 32px !default;
$text-size-4xl: 30px !default;
$text-size-4xl-line-height: 40px !default;
$text-size-5xl: 32px !default;
$text-size-5xl-line-height: 42px !default;
$text-size-6xl: 36px !default;
$text-size-6xl-line-height: 48px !default;
$text-size-7xl: 48px !default;
$text-size-7xl-line-height: 64px !default;
$text-size-8xl: 60px !default;
$text-size-8xl-line-height: 80px !default;
$text-size-9xl: 72px !default;
$text-size-9xl-line-height: 96px !default;
$text-size-10xl: 96px !default;
$text-size-10xl-line-height: 128px !default;
$text-size-11xl: 128px !default;
$text-size-11xl-line-height: 160px !default;
