$text-size-xs: 12px !default;
$text-size-sm: 14px !default;
$text-size-lg: 16px !default;
$text-size-xl: 18px !default;
$text-size-2xl: 20px !default;
$text-size-3xl: 24px !default;
$text-size-4xl: 30px !default;
$text-size-5xl: 36px !default;
$text-size-6xl: 48px !default;
$text-size-7xl: 60px !default;
$text-size-8xl: 72px !default;
$text-size-9xl: 96px !default;
$text-size-10xl: 128px !default;
