$text-xs: 12px;
$text-sm: 14px;
$text-lg: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 24px;
$text-4xl: 30px;
$text-5xl: 36px;
$text-6xl: 48px;
$text-7xl: 60px;
$text-8xl: 72px;
$text-9xl: 96px;
$text-10xl: 128px;
